<!--Load all user data on index -->
<%= content_for :load_users do %>
	<%= javascript_tag do %>
		users = <%= raw @users.to_json %>
	<% end %>
<% end %>

<% content_for :user_table do %>

	<% if user_signed_in? %>
		<div class="content_realignment">
			<div class="table_wrapper profile">
				<div class="table_expand profile"><h2 style="display: inline">Profile </h2><span class="slide_span profile"></span><div class="x_box profile">+</div></div>
				<div class="table_box profile">
					<div class="profile_horizontal sensitive profile">
						<div class="profile_picture sensitive profile"><%= image_tag(current_user.profile_image_url, :width => 128, :height => 128) %></div>
					</div>
					<div class="profile_horizontal sensitive profile">
						<div class="text_split profile sensitive">
							<p class="text_split_title sensitive profile">User:</p>
							<a href="https://twitter.com/<%=current_user.user_name=%>" target="_new"><h3 class="sensitive profile"><%=current_user.name=%></h3></a>
						</div>
						<div class="text_split profile sensitive">
							<p class="text_split_title sensitive profile">Share to Twitter:</p>
							<a href="/share_my_path"><h3 class="sensitive profile">Share!</h3></a>
						</div>
						<div class="text_split profile sensitive">
							<p class="text_split_title sensitive profile">Quit:</p>
							<a href="/auth/destroy"><h3 class="sensitive profile" style="font-size: 16px">Deactivate Account</h3></a>
						</div>
					</div>
					<div class="profile_horizontal tweets sensitive profile">
						<p class="text_split_title sensitive profile">Geo-tagged Tweets:</p>
					</div>
				</div>
			</div>
			<div class="table_wrapper">
				<div class="table_expand"><h2 style="display: inline">Coordinate Table </h2><span class="slide_span table"></span><div class="x_box table">+</div></div>
				<div class="table_box table">
					<ul class="coordinate_table sensitive table"></ul>
				</div>
			</div>
		</div>
	<% end %>

<% end %>